<!doctype html>
<html>
  <head>
    <%= erb :head %>
  </head>
  <body class="home">
    <div class="hero-unit">
      <h1>Raw Photos. Online.</h1>
      <p>Fixer makes it easy to backup and share your raw photos.</p>
      <p>
      <form action="/auth/dropbox">
        <button class="btn btn-large btn-primary dropbox"><i class="icon-dropbox icon-white"></i> Connect with Dropbox</button>
      </form>
      </p>
    </div>
  </body>
</html>
